<div id="landing">

		<h1 id="nameApp" class="text-center">Expand Your Music</h1>
		<img class="img-responsive" src="assets/imgs/logoExpandYourMusicW.png" alt="Expand Your Music Webapp Logo">
		<p class="text-center">Everything you ever wanted to know about your favorite songs while you hear. A new way of living your music. Select your local audio files and...</p>
		
		<div id="cta">
			<label class="zbtn zbtn-success">ENJOY 
				<input type="file" id="files" name="files[]" multiple>
        	</label>
		</div>
		<button class="btn btn-primary" ng-click="goPlayer()">-> Player</button>	


</div>
